<div class="modal-header">
  <h4 class="modal-title">
    {{ isEditMode ? 'Edit Customer' : 'Create New Customers and Users' }}
  </h4>
  <button type="button" class="close" (click)="bsModalRef.hide()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="customerName">Customer Name <span class="text-danger">*</span></label>
          <input
            id="customerName"
            type="text"
            class="form-control"
            [(ngModel)]="customer.name"
            name="customerName"
            placeholder="Enter customer Name"
            required
          />
          <small class="form-text text-muted">Please enter customer Name</small>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group">
          <label for="customerEmail">Customer Email <span class="text-danger">*</span></label>
          <input
            id="customerEmail"
            type="email"
            class="form-control"
            [(ngModel)]="customer.emailId"
            name="customerEmail"
            placeholder="Enter customer email"
            required
          />
          <small class="form-text text-muted">Please enter customer email</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="customerAddress">Customer Address</label>
          <textarea
            id="customerAddress"
            class="form-control"
            [(ngModel)]="customer.address"
            name="customerAddress"
            placeholder="Enter customer address"
            rows="3"
          ></textarea>
          <small class="form-text text-muted">Please enter customer address</small>
        </div>
      </div>
      
      <div class="col-md-6">
        <div class="form-group">
          <label for="registrationDate">Registration Date</label>
          <p-calendar
            id="registrationDate"
            [(ngModel)]="customer.registrationDate"
            name="registrationDate"
            placeholder="Enter your registration Date"
            dateFormat="dd/mm/yy"
            [showIcon]="true"
            styleClass="form-control"
          ></p-calendar>
          <small class="form-text text-muted">Please enter your registration Date</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label>Add Users</label>
          <p-multiSelect
            [options]="users"
            [(ngModel)]="selectedUsers"
            name="selectedUsers"
            placeholder="Select User"
            optionLabel="userName"
            dataKey="id"
            [filter]="true"
            [showToggleAll]="true"
            [style]="{ width: '100%' }"
            styleClass="form-control"
          >
            <ng-template let-user pTemplate="item">
              <div class="multiselect-user-option">
                <span>{{ user.userName }}</span>
                <small class="text-muted d-block">{{ user.emailAddress }}</small>
              </div>
            </ng-template>
          </p-multiSelect>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" [disabled]="saving" (click)="save()">
    <i class="fa fa-save" *ngIf="!saving"></i>
    <i class="fa fa-spinner fa-spin" *ngIf="saving"></i>
    {{ isEditMode ? 'Update' : 'Save' }}
  </button>
  <button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">
    Cancel
  </button>
</div>
